{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<body>
		<div class="page">
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="article">
						<div class="article__wrapper">
							<a href="notification.html" class="article__card">
								<div class="article__photo">
									<img
										src="https://images.unsplash.com/photo-1585222515068-7201a72c4181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
										alt=""
									/>
								</div>
								<div class="article__content">
									<h2>Kolloidli kumush virusdan himoya qiladi</h2>
									<span>08.07.2021</span>
								</div>
							</a>
						</div>
						<div class="article__wrapper">
							<a href="notification.html" class="article__card">
								<div class="article__photo">
									<img
										src="https://images.unsplash.com/photo-1585222515068-7201a72c4181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
										alt=""
									/>
								</div>
								<div class="article__content">
									<h2>Kolloidli kumush virusdan himoya qiladi</h2>
									<span>08.07.2021</span>
								</div>
							</a>
						</div>
						<div class="article__wrapper">
							<a href="notification.html" class="article__card">
								<div class="article__photo">
									<img
										src="https://images.unsplash.com/photo-1585222515068-7201a72c4181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
										alt=""
									/>
								</div>
								<div class="article__content">
									<h2>Kolloidli kumush virusdan himoya qiladi</h2>
									<span>08.07.2021</span>
								</div>
							</a>
						</div>
						<div class="article__wrapper">
							<a href="notification.html" class="article__card">
								<div class="article__photo">
									<img
										src="https://images.unsplash.com/photo-1585222515068-7201a72c4181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
										alt=""
									/>
								</div>
								<div class="article__content">
									<h2>Kolloidli kumush virusdan himoya qiladi</h2>
									<span>08.07.2021</span>
								</div>
							</a>
						</div>
						<div class="article__wrapper">
							<a href="notification.html" class="article__card">
								<div class="article__photo">
									<img
										src="https://images.unsplash.com/photo-1585222515068-7201a72c4181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
										alt=""
									/>
								</div>
								<div class="article__content">
									<h2>Kolloidli kumush virusdan himoya qiladi</h2>
									<span>08.07.2021</span>
								</div>
							</a>
						</div>
						<div class="article__wrapper">
							<a href="notification.html" class="article__card">
								<div class="article__photo">
									<img
										src="https://images.unsplash.com/photo-1585222515068-7201a72c4181?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
										alt=""
									/>
								</div>
								<div class="article__content">
									<h2>Kolloidli kumush virusdan himoya qiladi</h2>
									<span>08.07.2021</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>

{% include 'dashboard_templates/helper/dashboard_footer.html' %}
