{% load static %}

<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<body>
		<div class="page">
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="certificate">
						
						<div class="certificate__item">
							<div class="certificate__box">
								<a
									href="https://st3.depositphotos.com/23877124/33322/v/1600/depositphotos_333221496-stock-illustration-vertical-modern-certificate-template.jpg"
									data-fancybox
									class="certificate__photo"
								>
									<img
										src="https://st3.depositphotos.com/23877124/33322/v/1600/depositphotos_333221496-stock-illustration-vertical-modern-certificate-template.jpg"
										alt=""
									/>
								</a>
								<a
									href="https://st3.depositphotos.com/23877124/33322/v/1600/depositphotos_333221496-stock-illustration-vertical-modern-certificate-template.jpg"
									class="btn"
									download
									>Download</a
								>
							</div>
						</div>

						<div class="certificate__item disabled">
							<div class="certificate__box">
								<a class="certificate__photo">
									<img
										src="https://thumbs.dreamstime.com/z/elegant-futuristic-modern-certificate-template-texture-pattern-background-vertical-modern-certificate-template-169740661.jpg"
										alt=""
									/>
								</a>
								<i class="bx bx-lock"></i>
							</div>
						</div>

						<!--
						<div class="certificate__item">
							<div class="certificate__box">
								<a
									href="https://cdn1.vectorstock.com/i/1000x1000/13/25/vertical-modern-certificate-template-vector-28951325.jpg"
									data-fancybox
									class="certificate__photo"
								>
									<img
										src="https://cdn1.vectorstock.com/i/1000x1000/13/25/vertical-modern-certificate-template-vector-28951325.jpg"
										alt=""
									/>
								</a>
								<a
									href="https://cdn1.vectorstock.com/i/1000x1000/13/25/vertical-modern-certificate-template-vector-28951325.jpg"
									class="btn"
									download
									>Download</a
								>
							</div>
						</div>
					-->

					</div>
				</div>
			</main>
		</div>

		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
		
	</body>
</html>
