{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>Xavfsizlik siyosati</title>
	<body>
		<div class="page">
			<!-- modal -->
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="help">
						<div class="help__box">
							<h1 class="help__title">Политика безопасности</h1>
							<div class="help__card red-badge">
								<div class="help__head">
									<div class="help__badge">1</div>
									<span>Tizimdan faqat bir kishi foydalanishi lozim</span>
									<div class="help__triangle"></div>
								</div>
								<div class="help__body">
									<p>
										Mahsulotlarni iste’molchilarga sotishda ularning narxi
										oshishi taqiqlanadi. Bu jarimaga sabab bo’ladi.
									</p>
								</div>
							</div>
							<div class="help__card red-badge">
								<div class="help__head">
									<div class="help__badge">2</div>
									<span
										>Berilgan vazifalarni o’z muddatida, kechiktirmasdan
										bajaring</span
									>
									<div class="help__triangle"></div>
								</div>
								<div class="help__body">
									<p>
										Mahsulotlarni iste’molchilarga sotishda ularning narxi
										oshishi taqiqlanadi. Bu jarimaga sabab bo’ladi.
									</p>
								</div>
							</div>
							<div class="help__card red-badge">
								<div class="help__head">
									<div class="help__badge">3</div>
									<span>To’lovlarni o’z vaqtida amalga oshiring</span>
									<div class="help__triangle"></div>
								</div>
								<div class="help__body">
									<p>
										Mahsulotlarni iste’molchilarga sotishda ularning narxi
										oshishi taqiqlanadi. Bu jarimaga sabab bo’ladi.
									</p>
								</div>
							</div>
							<div class="help__card red-badge">
								<div class="help__head">
									<div class="help__badge">4</div>
									<span
										>Har bir dars yakunida 60%dan kam bo’magan ballni
										toplang</span
									>
									<div class="help__triangle"></div>
								</div>
								<div class="help__body">
									<p>
										Mahsulotlarni iste’molchilarga sotishda ularning narxi
										oshishi taqiqlanadi. Bu jarimaga sabab bo’ladi.
									</p>
								</div>
							</div>
							<div class="help__card red-badge">
								<div class="help__head">
									<div class="help__badge">5</div>
									<span
										>Oldindan rejalashtirilgan zoom konferensiyalarda ishtirok
										eting</span
									>
									<div class="help__triangle"></div>
								</div>
								<div class="help__body">
									<p>
										Mahsulotlarni iste’molchilarga sotishda ularning narxi
										oshishi taqiqlanadi. Bu jarimaga sabab bo’ladi.
									</p>
								</div>
							</div>
							<div class="help__card red-badge">
								<div class="help__head">
									<div class="help__badge">6</div>
									<span>Va yana nimadirlar :)</span>
									<div class="help__triangle"></div>
								</div>
								<div class="help__body">
									<p>
										Mahsulotlarni iste’molchilarga sotishda ularning narxi
										oshishi taqiqlanadi. Bu jarimaga sabab bo’ladi.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

		<!-- scripts -->
		<!-- CDN jquery -->
		{% include 'dashboard_templates/helper/dashboard_footer.html' %}	
	</body>
</html>
