<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>Asosiy sahifa</title>
	<body>
		<div class="page">
			<!-- modal -->
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="cards">
						<h1>Darsni qolgan joyidan davom ettirish</h1>
						<div class="card__wrapper">
							<div class="card">
								<p>
									Matematikadan oliy ta’lim muassalari uchun tayyorgarlik kursi
								</p>
								<span>2-dars</span>
								<a href="videos.html" class="btn btn--sm">Davom etish</a>
							</div>
						</div>
						<div class="card__wrapper">
							<div class="card">
								<p>
									Ona tilidan oliy ta’lim muassalari uchun tayyorgarlik kursi
								</p>
								<span>5-dars</span>
								<a href="videos.html" class="btn btn--sm">Davom etish</a>
							</div>
						</div>
					</div>

					<div class="stat">
						<h1>Darsni o’zlashtirish ko’rsatkichlari</h1>
						<div class="stat__inner owl-carousel">
							<div class="stat__wrapper">
								<div class="stat__box">
									<h3>Matematika</h3>
									<canvas class="chart"></canvas>
								</div>
							</div>
							<div class="stat__wrapper">
								<div class="stat__box">
									<h3>Ona tili</h3>
									<canvas class="chart"></canvas>
								</div>
							</div>
							<div class="stat__wrapper">
								<div class="stat__box">
									<h3>Ingliz tili</h3>
									<canvas class="chart"></canvas>
								</div>
							</div>
						</div>
					</div>

					<!-- charts data -->
					<div class="data__container" style="display: none">
						<div
							class="data"
							data-color="#FFA097"
							data-lessons="12"
							data-scores="55,20,45,30,40,50,60,50,40,70,70,60,70"
						></div>
						<div
							class="data"
							data-color="#A5D9A1"
							data-lessons="6"
							data-scores="65,30,45,30,55,65,60"
						></div>
						<div
							class="data"
							data-color="#6C8A9B"
							data-lessons="8"
							data-scores="65,30,45,30,55,65,60,30,45"
						></div>
					</div>
				</div>
			</main>
		</div>

		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
	</body>
</html>
