{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>Video qo&#x27;llanmalar</title>
	<body>
		<div class="page">
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}
				<div class="container">
					<!-- body -->
					<div class="media">
						<div class="media__wrapper">
							<a href="videos.html" data-fancybox class="media__card">
								<img
									src="https://images.unsplash.com/photo-1574043948184-144f2ef80fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80"
									alt=""
								/>
								<div class="media__content">
									<div class="media__cat">Kolloid eritma</div>
									<div class="media__title">
										Kolloidli kumush virusdan himoya qiladi
									</div>
								</div>
								<div class="media__play">
									<div class="media__triangle"></div>
								</div>
							</a>
						</div>
						<div class="media__wrapper">
							<a href="videos.html" data-fancybox class="media__card">
								<img
									src="https://images.unsplash.com/photo-1603555501671-8f96b3fce8b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80"
									alt=""
								/>
								<div class="media__content">
									<div class="media__cat">Kolloid eritma</div>
									<div class="media__title">
										Kolloidli kumush virusdan himoya qiladi
									</div>
								</div>
								<div class="media__play">
									<div class="media__triangle"></div>
								</div>
							</a>
						</div>
						<div class="media__wrapper">
							<a href="videos.html" data-fancybox class="media__card">
								<img
									src="https://images.unsplash.com/photo-1573883431205-98b5f10aaedb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBoYXJtYWN5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
									alt=""
								/>
								<div class="media__content">
									<div class="media__cat">Kolloid eritma</div>
									<div class="media__title">
										Kolloidli kumush virusdan himoya qiladi
									</div>
								</div>
								<div class="media__play">
									<div class="media__triangle"></div>
								</div>
							</a>
						</div>
						<div class="media__wrapper">
							<a href="videos.html" data-fancybox class="media__card">
								<img
									src="https://images.unsplash.com/photo-1573883431205-98b5f10aaedb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBoYXJtYWN5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
									alt=""
								/>
								<div class="media__content">
									<div class="media__cat">Kolloid eritma</div>
									<div class="media__title">
										Kolloidli kumush virusdan himoya qiladi
									</div>
								</div>
								<div class="media__play">
									<div class="media__triangle"></div>
								</div>
							</a>
						</div>
						<div class="media__wrapper">
							<a href="videos.html" data-fancybox class="media__card">
								<img
									src="https://images.unsplash.com/photo-1574043948184-144f2ef80fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80"
									alt=""
								/>
								<div class="media__content">
									<div class="media__cat">Kolloid eritma</div>
									<div class="media__title">
										Kolloidli kumush virusdan himoya qiladi
									</div>
								</div>
								<div class="media__play">
									<div class="media__triangle"></div>
								</div>
							</a>
						</div>
						<div class="media__wrapper">
							<a href="videos.html" data-fancybox class="media__card">
								<img
									src="https://images.unsplash.com/photo-1603555501671-8f96b3fce8b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80"
									alt=""
								/>
								<div class="media__content">
									<div class="media__cat">Kolloid eritma</div>
									<div class="media__title">
										Kolloidli kumush virusdan himoya qiladi
									</div>
								</div>
								<div class="media__play">
									<div class="media__triangle"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>

		<!-- scripts -->
		<!-- CDN jquery -->
		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
	</body>
</html>
