{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>E&#x27;lon</title>
	<body>
		<div class="page">
			<!-- modal -->
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}
				<div class="container">
					<!-- body -->

					<div class="notification">
						<div class="notification__box">
							<h1 class="notification__title">Tizimda yangilanish</h1>
							<p>
								Endi webinardan yuqori ball to’plaganlar chegirmalarga ega
								bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib
								qoling, yuqori natijalarni qo’lga kiritib kurslarga
								chegirmalarni qo’lga kiriting.
							</p>
							<p>
								<b>
									Endi webinardan yuqori ball to’plaganlar chegirmalarga ega
									bo’lishi mumkin</b
								>, ushbu qo’shilgan imkoniyatdan foydalanib qoling, yuqori
								natijalarni qo’lga kiritib kurslarga chegirmalarni qo’lga
								kiriting. Endi testlardan yuqori ball to’plaganlar chegirmalarga
								ega bo’lishi mumkin, ushbu qo’shilgan imkoniyatdan foydalanib
								qoling, yuqori natijalarni qo’lga kiritib kurslarga
								chegirmalarni qo’lga kiriting.Endi testlardan yuqori ball
								to’plaganlar chegirmalarga ega bo’lishi mumkin, ushbu qo’shilgan
								imkoniyatdan foydalanib qoling
							</p>
						</div>
					</div>
				</div>
			</main>
		</div>

		<!-- scripts -->
		<!-- CDN jquery -->
		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
	</body>
</html>
