<!DOCTYPE html>
<html lang="en">
	{% include 'dashboard_templates/helper/dashboard_header.html' %}
	<title>Ресурсы</title>
	<body>
		<div class="page">
			<!-- modal -->
			<!-- modal -->
			{% include 'dashboard_templates/helper/dashboard_navbar.html' %}

				<div class="container">
					<!-- body -->

					<div class="store">
						<a href="{% url 'books' %}" class="store__item">
							<i class="bx bx-folder"></i>
							<span>Книги</span>
						</a>
						<a href="store-inner.html" class="store__item">
							<i class="bx bx-folder"></i>
							<span>Статьи</span>
						</a>
						<a href="store-inner.html" class="store__item">
							<i class="bx bx-folder"></i>
							<span>Научные статьи</span>
						</a>
						<a href="store-inner.html" class="store__item">
							<i class="bx bx-folder"></i>
							<span>Полезные</span>
						</a>
					</div>
				</div>
			</main>
		</div>

		<!-- scripts -->
		<!-- CDN jquery -->
		{% include 'dashboard_templates/helper/dashboard_footer.html' %}
	</body>
</html>
